body, html {
    height: 100%;
    background-color: black;
}
* {

    font-size: large;
    font-family: "Monac";
    box-sizing: border-box;
    text-align: center;
    color: white;
}

.back-img {
    height: 50%;
    background-color: rgb(red, green, blue);
    background-image: url(../buffetable.jpeg);
    filter: blur(8px);
    background-size: cover;
}

h1 {
    color: rgb(255, 255, 255);
    width: 15%;
    background-color: rgb(88, 41, 2);
    background-color: rgba(0, 0, 0, 0.2);
    top: 25%;
    z-index: 2;
    transform: translate(-50%, -50%);
    position: absolute;
    left: 50%;
    font-size: xx-large;
    font-weight: 700;
}

h2 {
    font-size: x-large;
}

ul, 
ol{
    list-style-type: none;
    margin: 1%;
    padding: 0;
}

li {
    margin: 0.75%;
    text-align: center;
}

img {
    filter: saturate(1.3);
    height: auto;
    width: 15%;
    margin: 2%;
    position: absolute;
    left: 6%;
}

#home {
    color: rgb(25, 163, 218);
    font-size: medium;
}
